{
  "openapi": "3.0.3",
  "info": {
    "title": "Planpoint",
    "description": "",
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about Planpoint",
    "url": "http://planpoint.io"
  },
  "servers": [
    {
      "url": "https://app.planpoint.io/api"
    }
  ],
  "tags": [
    {
      "name": "user",
      "description": "Everything about user"
    },
    {
      "name": "groups",
      "description": "Everything about groups"
    },
    {
      "name": "projects",
      "description": "Everything about projects"
    },
    {
      "name": "floors",
      "description": "Everything about floors"
    },
    {
      "name": "units",
      "description": "Everything about units"
    },
    {
      "name": "leads",
      "description": "Everything about leads"
    }
  ],
  "paths": {
    "/users/login": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Logs user into the system",
        "description": "",
        "operationId": "loginUser",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "The user name for login",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "The password for login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "format": "objectId",
                      "description": "Unique identifier for the user"
                    },
                    "role": {
                      "type": "string",
                      "format": "objectId",
                      "description": "Reference to the user's role"
                    },
                    "username": {
                      "type": "string",
                      "description": "Unique username of the user"
                    },
                    "name": {
                      "type": "string",
                      "description": "First name of the user"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "Last name of the user"
                    },
                    "fullName": {
                      "type": "string",
                      "description": "Full name of the user"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Phone number of the user"
                    },
                    "companyName": {
                      "type": "string",
                      "description": "Name of the user's company"
                    },
                    "projectNameURL": {
                      "type": "string",
                      "description": "URL for the user's project name"
                    },
                    "country": {
                      "type": "string",
                      "description": "Country of the user"
                    },
                    "address1": {
                      "type": "string",
                      "description": "Primary address of the user"
                    },
                    "address2": {
                      "type": "string",
                      "description": "Secondary address of the user"
                    },
                    "city": {
                      "type": "string",
                      "description": "City of the user"
                    },
                    "region": {
                      "type": "string",
                      "description": "Region or state of the user"
                    },
                    "zip": {
                      "type": "string",
                      "description": "ZIP code of the user"
                    },
                    "token": {
                      "type": "string",
                      "description": "Authentication token for the user"
                    },
                    "stripeAccountId": {
                      "type": "string",
                      "description": "Stripe account ID of the user"
                    },
                    "stripeOnboardingDone": {
                      "type": "boolean",
                      "default": false,
                      "description": "Indicates if Stripe onboarding is complete"
                    },
                    "stripeDetailsSubmitted": {
                      "type": "boolean",
                      "default": false,
                      "description": "Indicates if Stripe details have been submitted"
                    },
                    "experimentalFeatures": {
                      "type": "boolean",
                      "default": false,
                      "description": "Indicates if experimental features are enabled"
                    },
                    "resetToken": {
                      "type": "string",
                      "description": "Token for resetting the user's password"
                    },
                    "stripeCustomer": {
                      "type": "object",
                      "description": "Stripe customer information for the user"
                    },
                    "subscription": {
                      "type": "object",
                      "description": "Subscription details for the user"
                    },
                    "appliedTrial": {
                      "type": "boolean",
                      "default": false,
                      "description": "Indicates if the user has applied a trial"
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId"
                      },
                      "description": "List of projects associated with the user"
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId"
                      },
                      "description": "List of groups associated with the user"
                    },
                    "administrators": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId"
                      },
                      "description": "List of administrators associated with the user"
                    },
                    "editors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId"
                      },
                      "description": "List of editors associated with the user"
                    },
                    "invites": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "description": "First name of the invitee"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Last name of the invitee"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "Email address of the invitee"
                          },
                          "level": {
                            "type": "string",
                            "description": "Access level for the invitee"
                          }
                        }
                      },
                      "description": "List of invites associated with the user"
                    },
                    "preferences": {
                      "type": "object",
                      "properties": {
                        "hideBrandingIcon": {
                          "type": "boolean",
                          "default": false,
                          "description": "Indicates if the branding icon is hidden in the viewer"
                        },
                        "hideLoadingLogo": {
                          "type": "boolean",
                          "default": false,
                          "description": "Indicates if the loading logo is hidden in the viewer"
                        }
                      },
                      "description": "User preferences"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "format": "objectId",
                      "description": "Unique identifier for the user"
                    },
                    "role": {
                      "type": "string",
                      "format": "objectId",
                      "description": "Reference to the user's role"
                    },
                    "username": {
                      "type": "string",
                      "description": "Unique username of the user"
                    },
                    "name": {
                      "type": "string",
                      "description": "First name of the user"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "Last name of the user"
                    },
                    "fullName": {
                      "type": "string",
                      "description": "Full name of the user"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Phone number of the user"
                    },
                    "companyName": {
                      "type": "string",
                      "description": "Name of the user's company"
                    },
                    "projectNameURL": {
                      "type": "string",
                      "description": "URL for the user's project name"
                    },
                    "country": {
                      "type": "string",
                      "description": "Country of the user"
                    },
                    "address1": {
                      "type": "string",
                      "description": "Primary address of the user"
                    },
                    "address2": {
                      "type": "string",
                      "description": "Secondary address of the user"
                    },
                    "city": {
                      "type": "string",
                      "description": "City of the user"
                    },
                    "region": {
                      "type": "string",
                      "description": "Region or state of the user"
                    },
                    "zip": {
                      "type": "string",
                      "description": "ZIP code of the user"
                    },
                    "token": {
                      "type": "string",
                      "description": "Authentication token for the user"
                    },
                    "stripeAccountId": {
                      "type": "string",
                      "description": "Stripe account ID of the user"
                    },
                    "stripeOnboardingDone": {
                      "type": "boolean",
                      "default": false,
                      "description": "Indicates if Stripe onboarding is complete"
                    },
                    "stripeDetailsSubmitted": {
                      "type": "boolean",
                      "default": false,
                      "description": "Indicates if Stripe details have been submitted"
                    },
                    "experimentalFeatures": {
                      "type": "boolean",
                      "default": false,
                      "description": "Indicates if experimental features are enabled"
                    },
                    "resetToken": {
                      "type": "string",
                      "description": "Token for resetting the user's password"
                    },
                    "stripeCustomer": {
                      "type": "object",
                      "description": "Stripe customer information for the user"
                    },
                    "subscription": {
                      "type": "object",
                      "description": "Subscription details for the user"
                    },
                    "appliedTrial": {
                      "type": "boolean",
                      "default": false,
                      "description": "Indicates if the user has applied a trial"
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId"
                      },
                      "description": "List of projects associated with the user"
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId"
                      },
                      "description": "List of groups associated with the user"
                    },
                    "administrators": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId"
                      },
                      "description": "List of administrators associated with the user"
                    },
                    "editors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId"
                      },
                      "description": "List of editors associated with the user"
                    },
                    "invites": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "description": "First name of the invitee"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Last name of the invitee"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "Email address of the invitee"
                          },
                          "level": {
                            "type": "string",
                            "description": "Access level for the invitee"
                          }
                        }
                      },
                      "description": "List of invites associated with the user"
                    },
                    "preferences": {
                      "type": "object",
                      "properties": {
                        "hideBrandingIcon": {
                          "type": "boolean",
                          "default": false,
                          "description": "Indicates if the branding icon is hidden in the viewer"
                        },
                        "hideLoadingLogo": {
                          "type": "boolean",
                          "default": false,
                          "description": "Indicates if the loading logo is hidden in the viewer"
                        }
                      },
                      "description": "User preferences"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Search for groups by query",
        "operationId": "fetchGroups",
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "description": "Use an object to search for groups with specific values",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "Planpoint group"
                },
                "groupLang": {
                  "type": "string",
                  "example": "English"
                }
              }
            }
          },
          {
            "name": "options",
            "in": "query",
            "description": "Search options",
            "schema": {
              "type": "object",
              "properties": {
                "skip": {
                  "description": "Skip over the specified number of documents",
                  "type": "number",
                  "example": 1
                },
                "limit": {
                  "description": "Specify the maximum number of documents that should be returned",
                  "type": "number",
                  "example": 100
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of groups found"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      },
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "Create a new group",
        "description": "Create a new group",
        "operationId": "createGroup",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the group",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "in": "query",
            "description": "Namespace of the group",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostName",
            "in": "query",
            "description": "Hostname of the group",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "format": "objectId",
                      "description": "The unique identifier for the group.",
                      "example": "objectId"
                    },
                    "user": {
                      "type": "string",
                      "format": "objectId",
                      "description": "Reference to the user who owns the group.",
                      "example": "objectId"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the group."
                    },
                    "websiteURL": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's website."
                    },
                    "showAvailableFirst": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to prioritize showing available items first."
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an associated project.",
                        "example": "objectId"
                      }
                    },
                    "namespace": {
                      "type": "string",
                      "description": "Namespace for the group."
                    },
                    "hostName": {
                      "type": "string",
                      "description": "Hostname of the group."
                    },
                    "groupLang": {
                      "type": "string",
                      "default": "en",
                      "description": "Language setting for the group."
                    },
                    "linkBehavior": {
                      "type": "string",
                      "default": "Planpoint",
                      "description": "Default link behavior."
                    },
                    "accentColor": {
                      "type": "string",
                      "description": "Accent color of the group."
                    },
                    "groupImageUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's image."
                    },
                    "groupSVGUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's SVG."
                    },
                    "svgGroupId": {
                      "type": "string",
                      "description": "SVG group identifier."
                    },
                    "address": {
                      "type": "string",
                      "description": "Physical address of the group."
                    },
                    "lon": {
                      "type": "number",
                      "format": "double",
                      "description": "Longitude of the group location.",
                      "example": -93.75940812944687
                    },
                    "lat": {
                      "type": "number",
                      "format": "double",
                      "description": "Latitude of the group location.",
                      "example": 43.75940812944687
                    },
                    "zoomLevel": {
                      "type": "number",
                      "default": 0,
                      "description": "Default map zoom level."
                    },
                    "administrators": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an administrator user.",
                        "example": "objectId"
                      }
                    },
                    "editors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an editor user.",
                        "example": "objectId"
                      }
                    },
                    "invites": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "level": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "List of invited users."
                    },
                    "perimeter": {
                      "type": "string",
                      "description": "Perimeter of the group area."
                    },
                    "markerImageUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the marker image."
                    },
                    "targetMarker": {
                      "type": "string",
                      "description": "Target marker identifier."
                    },
                    "mapStyle": {
                      "type": "string",
                      "default": "Light",
                      "description": "Style of the map."
                    },
                    "mapPointColor": {
                      "type": "string",
                      "description": "Color of map points."
                    },
                    "showAllUnits": {
                      "type": "boolean",
                      "description": "Whether to display all units."
                    },
                    "showPrices": {
                      "type": "boolean",
                      "description": "Whether to display prices."
                    },
                    "initialView": {
                      "type": "string",
                      "default": "List",
                      "description": "Initial view of the group."
                    },
                    "unitImageOnGrid": {
                      "type": "string",
                      "default": "Unit Plan",
                      "description": "Image type shown on the grid."
                    },
                    "pricesStartingAt": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to show prices starting at a certain value."
                    },
                    "showTaxes": {
                      "type": "boolean",
                      "description": "Whether to show taxes."
                    },
                    "priceBeforeTax": {
                      "type": "boolean",
                      "description": "Whether the price is shown before tax."
                    },
                    "showAvailability": {
                      "type": "boolean",
                      "description": "Whether to show availability."
                    },
                    "hideSold": {
                      "type": "boolean",
                      "description": "Whether to hide sold units."
                    },
                    "deliveryDates": {
                      "type": "boolean",
                      "description": "Whether to show delivery dates."
                    },
                    "internalURL": {
                      "type": "string",
                      "format": "uri",
                      "description": "Internal URL for the group."
                    },
                    "alternativeCovers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of alternative cover images."
                    },
                    "hideArea": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to hide the area field."
                    },
                    "theme": {
                      "type": "string",
                      "description": "Theme of the group."
                    },
                    "showBranding": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether to show branding."
                    },
                    "showPriceFilter": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether to show the price filter."
                    },
                    "showAreaFilter": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether to show the area filter."
                    },
                    "showFloorOverview": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to show the floor overview."
                    },
                    "colorBase": {
                      "type": "string",
                      "description": "Base color."
                    },
                    "colorAccent": {
                      "type": "string",
                      "description": "Accent color."
                    },
                    "colorHover": {
                      "type": "string",
                      "description": "Hover color."
                    },
                    "colorButton": {
                      "type": "string",
                      "description": "Button color."
                    },
                    "colorButtonText": {
                      "type": "string",
                      "description": "Button text color."
                    },
                    "colorText": {
                      "type": "string",
                      "description": "General text color."
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "format": "objectId",
                      "description": "The unique identifier for the group.",
                      "example": "objectId"
                    },
                    "user": {
                      "type": "string",
                      "format": "objectId",
                      "description": "Reference to the user who owns the group.",
                      "example": "objectId"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the group."
                    },
                    "websiteURL": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's website."
                    },
                    "showAvailableFirst": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to prioritize showing available items first."
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an associated project.",
                        "example": "objectId"
                      }
                    },
                    "namespace": {
                      "type": "string",
                      "description": "Namespace for the group."
                    },
                    "hostName": {
                      "type": "string",
                      "description": "Hostname of the group."
                    },
                    "groupLang": {
                      "type": "string",
                      "default": "en",
                      "description": "Language setting for the group."
                    },
                    "linkBehavior": {
                      "type": "string",
                      "default": "Planpoint",
                      "description": "Default link behavior."
                    },
                    "accentColor": {
                      "type": "string",
                      "description": "Accent color of the group."
                    },
                    "groupImageUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's image."
                    },
                    "groupSVGUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's SVG."
                    },
                    "svgGroupId": {
                      "type": "string",
                      "description": "SVG group identifier."
                    },
                    "address": {
                      "type": "string",
                      "description": "Physical address of the group."
                    },
                    "lon": {
                      "type": "number",
                      "format": "double",
                      "description": "Longitude of the group location.",
                      "example": -93.75940812944687
                    },
                    "lat": {
                      "type": "number",
                      "format": "double",
                      "description": "Latitude of the group location.",
                      "example": 43.75940812944687
                    },
                    "zoomLevel": {
                      "type": "number",
                      "default": 0,
                      "description": "Default map zoom level."
                    },
                    "administrators": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an administrator user.",
                        "example": "objectId"
                      }
                    },
                    "editors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an editor user.",
                        "example": "objectId"
                      }
                    },
                    "invites": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "level": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "List of invited users."
                    },
                    "perimeter": {
                      "type": "string",
                      "description": "Perimeter of the group area."
                    },
                    "markerImageUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the marker image."
                    },
                    "targetMarker": {
                      "type": "string",
                      "description": "Target marker identifier."
                    },
                    "mapStyle": {
                      "type": "string",
                      "default": "Light",
                      "description": "Style of the map."
                    },
                    "mapPointColor": {
                      "type": "string",
                      "description": "Color of map points."
                    },
                    "showAllUnits": {
                      "type": "boolean",
                      "description": "Whether to display all units."
                    },
                    "showPrices": {
                      "type": "boolean",
                      "description": "Whether to display prices."
                    },
                    "initialView": {
                      "type": "string",
                      "default": "List",
                      "description": "Initial view of the group."
                    },
                    "unitImageOnGrid": {
                      "type": "string",
                      "default": "Unit Plan",
                      "description": "Image type shown on the grid."
                    },
                    "pricesStartingAt": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to show prices starting at a certain value."
                    },
                    "showTaxes": {
                      "type": "boolean",
                      "description": "Whether to show taxes."
                    },
                    "priceBeforeTax": {
                      "type": "boolean",
                      "description": "Whether the price is shown before tax."
                    },
                    "showAvailability": {
                      "type": "boolean",
                      "description": "Whether to show availability."
                    },
                    "hideSold": {
                      "type": "boolean",
                      "description": "Whether to hide sold units."
                    },
                    "deliveryDates": {
                      "type": "boolean",
                      "description": "Whether to show delivery dates."
                    },
                    "internalURL": {
                      "type": "string",
                      "format": "uri",
                      "description": "Internal URL for the group."
                    },
                    "alternativeCovers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of alternative cover images."
                    },
                    "hideArea": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to hide the area field."
                    },
                    "theme": {
                      "type": "string",
                      "description": "Theme of the group."
                    },
                    "showBranding": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether to show branding."
                    },
                    "showPriceFilter": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether to show the price filter."
                    },
                    "showAreaFilter": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether to show the area filter."
                    },
                    "showFloorOverview": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to show the floor overview."
                    },
                    "colorBase": {
                      "type": "string",
                      "description": "Base color."
                    },
                    "colorAccent": {
                      "type": "string",
                      "description": "Accent color."
                    },
                    "colorHover": {
                      "type": "string",
                      "description": "Hover color."
                    },
                    "colorButton": {
                      "type": "string",
                      "description": "Button color."
                    },
                    "colorButtonText": {
                      "type": "string",
                      "description": "Button text color."
                    },
                    "colorText": {
                      "type": "string",
                      "description": "General text color."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/groups/{id}": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Search for a group",
        "description": "Fetch a group",
        "operationId": "fetchGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "objectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "format": "objectId",
                      "description": "The unique identifier for the group.",
                      "example": "objectId"
                    },
                    "user": {
                      "type": "string",
                      "format": "objectId",
                      "description": "Reference to the user who owns the group.",
                      "example": "objectId"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the group."
                    },
                    "websiteURL": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's website."
                    },
                    "showAvailableFirst": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to prioritize showing available items first."
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an associated project.",
                        "example": "objectId"
                      }
                    },
                    "namespace": {
                      "type": "string",
                      "description": "Namespace for the group."
                    },
                    "hostName": {
                      "type": "string",
                      "description": "Hostname of the group."
                    },
                    "groupLang": {
                      "type": "string",
                      "default": "en",
                      "description": "Language setting for the group."
                    },
                    "linkBehavior": {
                      "type": "string",
                      "default": "Planpoint",
                      "description": "Default link behavior."
                    },
                    "accentColor": {
                      "type": "string",
                      "description": "Accent color of the group."
                    },
                    "groupImageUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's image."
                    },
                    "groupSVGUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's SVG."
                    },
                    "svgGroupId": {
                      "type": "string",
                      "description": "SVG group identifier."
                    },
                    "address": {
                      "type": "string",
                      "description": "Physical address of the group."
                    },
                    "lon": {
                      "type": "number",
                      "format": "double",
                      "description": "Longitude of the group location.",
                      "example": -93.75940812944687
                    },
                    "lat": {
                      "type": "number",
                      "format": "double",
                      "description": "Latitude of the group location.",
                      "example": 43.75940812944687
                    },
                    "zoomLevel": {
                      "type": "number",
                      "default": 0,
                      "description": "Default map zoom level."
                    },
                    "administrators": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an administrator user.",
                        "example": "objectId"
                      }
                    },
                    "editors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an editor user.",
                        "example": "objectId"
                      }
                    },
                    "invites": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "level": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "List of invited users."
                    },
                    "perimeter": {
                      "type": "string",
                      "description": "Perimeter of the group area."
                    },
                    "markerImageUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the marker image."
                    },
                    "targetMarker": {
                      "type": "string",
                      "description": "Target marker identifier."
                    },
                    "mapStyle": {
                      "type": "string",
                      "default": "Light",
                      "description": "Style of the map."
                    },
                    "mapPointColor": {
                      "type": "string",
                      "description": "Color of map points."
                    },
                    "showAllUnits": {
                      "type": "boolean",
                      "description": "Whether to display all units."
                    },
                    "showPrices": {
                      "type": "boolean",
                      "description": "Whether to display prices."
                    },
                    "initialView": {
                      "type": "string",
                      "default": "List",
                      "description": "Initial view of the group."
                    },
                    "unitImageOnGrid": {
                      "type": "string",
                      "default": "Unit Plan",
                      "description": "Image type shown on the grid."
                    },
                    "pricesStartingAt": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to show prices starting at a certain value."
                    },
                    "showTaxes": {
                      "type": "boolean",
                      "description": "Whether to show taxes."
                    },
                    "priceBeforeTax": {
                      "type": "boolean",
                      "description": "Whether the price is shown before tax."
                    },
                    "showAvailability": {
                      "type": "boolean",
                      "description": "Whether to show availability."
                    },
                    "hideSold": {
                      "type": "boolean",
                      "description": "Whether to hide sold units."
                    },
                    "deliveryDates": {
                      "type": "boolean",
                      "description": "Whether to show delivery dates."
                    },
                    "internalURL": {
                      "type": "string",
                      "format": "uri",
                      "description": "Internal URL for the group."
                    },
                    "alternativeCovers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of alternative cover images."
                    },
                    "hideArea": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to hide the area field."
                    },
                    "theme": {
                      "type": "string",
                      "description": "Theme of the group."
                    },
                    "showBranding": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether to show branding."
                    },
                    "showPriceFilter": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether to show the price filter."
                    },
                    "showAreaFilter": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether to show the area filter."
                    },
                    "showFloorOverview": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to show the floor overview."
                    },
                    "colorBase": {
                      "type": "string",
                      "description": "Base color."
                    },
                    "colorAccent": {
                      "type": "string",
                      "description": "Accent color."
                    },
                    "colorHover": {
                      "type": "string",
                      "description": "Hover color."
                    },
                    "colorButton": {
                      "type": "string",
                      "description": "Button color."
                    },
                    "colorButtonText": {
                      "type": "string",
                      "description": "Button text color."
                    },
                    "colorText": {
                      "type": "string",
                      "description": "General text color."
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "format": "objectId",
                      "description": "The unique identifier for the group.",
                      "example": "objectId"
                    },
                    "user": {
                      "type": "string",
                      "format": "objectId",
                      "description": "Reference to the user who owns the group.",
                      "example": "objectId"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the group."
                    },
                    "websiteURL": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's website."
                    },
                    "showAvailableFirst": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to prioritize showing available items first."
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an associated project.",
                        "example": "objectId"
                      }
                    },
                    "namespace": {
                      "type": "string",
                      "description": "Namespace for the group."
                    },
                    "hostName": {
                      "type": "string",
                      "description": "Hostname of the group."
                    },
                    "groupLang": {
                      "type": "string",
                      "default": "en",
                      "description": "Language setting for the group."
                    },
                    "linkBehavior": {
                      "type": "string",
                      "default": "Planpoint",
                      "description": "Default link behavior."
                    },
                    "accentColor": {
                      "type": "string",
                      "description": "Accent color of the group."
                    },
                    "groupImageUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's image."
                    },
                    "groupSVGUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's SVG."
                    },
                    "svgGroupId": {
                      "type": "string",
                      "description": "SVG group identifier."
                    },
                    "address": {
                      "type": "string",
                      "description": "Physical address of the group."
                    },
                    "lon": {
                      "type": "number",
                      "format": "double",
                      "description": "Longitude of the group location.",
                      "example": -93.75940812944687
                    },
                    "lat": {
                      "type": "number",
                      "format": "double",
                      "description": "Latitude of the group location.",
                      "example": 43.75940812944687
                    },
                    "zoomLevel": {
                      "type": "number",
                      "default": 0,
                      "description": "Default map zoom level."
                    },
                    "administrators": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an administrator user.",
                        "example": "objectId"
                      }
                    },
                    "editors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an editor user.",
                        "example": "objectId"
                      }
                    },
                    "invites": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "level": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "List of invited users."
                    },
                    "perimeter": {
                      "type": "string",
                      "description": "Perimeter of the group area."
                    },
                    "markerImageUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the marker image."
                    },
                    "targetMarker": {
                      "type": "string",
                      "description": "Target marker identifier."
                    },
                    "mapStyle": {
                      "type": "string",
                      "default": "Light",
                      "description": "Style of the map."
                    },
                    "mapPointColor": {
                      "type": "string",
                      "description": "Color of map points."
                    },
                    "showAllUnits": {
                      "type": "boolean",
                      "description": "Whether to display all units."
                    },
                    "showPrices": {
                      "type": "boolean",
                      "description": "Whether to display prices."
                    },
                    "initialView": {
                      "type": "string",
                      "default": "List",
                      "description": "Initial view of the group."
                    },
                    "unitImageOnGrid": {
                      "type": "string",
                      "default": "Unit Plan",
                      "description": "Image type shown on the grid."
                    },
                    "pricesStartingAt": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to show prices starting at a certain value."
                    },
                    "showTaxes": {
                      "type": "boolean",
                      "description": "Whether to show taxes."
                    },
                    "priceBeforeTax": {
                      "type": "boolean",
                      "description": "Whether the price is shown before tax."
                    },
                    "showAvailability": {
                      "type": "boolean",
                      "description": "Whether to show availability."
                    },
                    "hideSold": {
                      "type": "boolean",
                      "description": "Whether to hide sold units."
                    },
                    "deliveryDates": {
                      "type": "boolean",
                      "description": "Whether to show delivery dates."
                    },
                    "internalURL": {
                      "type": "string",
                      "format": "uri",
                      "description": "Internal URL for the group."
                    },
                    "alternativeCovers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of alternative cover images."
                    },
                    "hideArea": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to hide the area field."
                    },
                    "theme": {
                      "type": "string",
                      "description": "Theme of the group."
                    },
                    "showBranding": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether to show branding."
                    },
                    "showPriceFilter": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether to show the price filter."
                    },
                    "showAreaFilter": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether to show the area filter."
                    },
                    "showFloorOverview": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to show the floor overview."
                    },
                    "colorBase": {
                      "type": "string",
                      "description": "Base color."
                    },
                    "colorAccent": {
                      "type": "string",
                      "description": "Accent color."
                    },
                    "colorHover": {
                      "type": "string",
                      "description": "Hover color."
                    },
                    "colorButton": {
                      "type": "string",
                      "description": "Button color."
                    },
                    "colorButtonText": {
                      "type": "string",
                      "description": "Button text color."
                    },
                    "colorText": {
                      "type": "string",
                      "description": "General text color."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      },
      "patch": {
        "tags": [
          "groups"
        ],
        "summary": "Update an existing group",
        "description": "Update an existing group by Id",
        "operationId": "updateGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "objectId",
              "example": "objectId"
            }
          }
        ],
        "requestBody": {
          "description": "Update an existing group",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string",
                    "format": "objectId",
                    "description": "The unique identifier for the group.",
                    "example": "objectId"
                  },
                  "user": {
                    "type": "string",
                    "format": "objectId",
                    "description": "Reference to the user who owns the group.",
                    "example": "objectId"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the group."
                  },
                  "websiteURL": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the group's website."
                  },
                  "showAvailableFirst": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to prioritize showing available items first."
                  },
                  "projects": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "objectId",
                      "description": "ID of an associated project.",
                      "example": "objectId"
                    }
                  },
                  "namespace": {
                    "type": "string",
                    "description": "Namespace for the group."
                  },
                  "hostName": {
                    "type": "string",
                    "description": "Hostname of the group."
                  },
                  "groupLang": {
                    "type": "string",
                    "default": "en",
                    "description": "Language setting for the group."
                  },
                  "linkBehavior": {
                    "type": "string",
                    "default": "Planpoint",
                    "description": "Default link behavior."
                  },
                  "accentColor": {
                    "type": "string",
                    "description": "Accent color of the group."
                  },
                  "groupImageUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the group's image."
                  },
                  "groupSVGUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the group's SVG."
                  },
                  "svgGroupId": {
                    "type": "string",
                    "description": "SVG group identifier."
                  },
                  "address": {
                    "type": "string",
                    "description": "Physical address of the group."
                  },
                  "lon": {
                    "type": "number",
                    "format": "double",
                    "description": "Longitude of the group location.",
                    "example": -93.75940812944687
                  },
                  "lat": {
                    "type": "number",
                    "format": "double",
                    "description": "Latitude of the group location.",
                    "example": 43.75940812944687
                  },
                  "zoomLevel": {
                    "type": "number",
                    "default": 0,
                    "description": "Default map zoom level."
                  },
                  "administrators": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "objectId",
                      "description": "ID of an administrator user.",
                      "example": "objectId"
                    }
                  },
                  "editors": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "objectId",
                      "description": "ID of an editor user.",
                      "example": "objectId"
                    }
                  },
                  "invites": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "level": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "List of invited users."
                  },
                  "perimeter": {
                    "type": "string",
                    "description": "Perimeter of the group area."
                  },
                  "markerImageUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the marker image."
                  },
                  "targetMarker": {
                    "type": "string",
                    "description": "Target marker identifier."
                  },
                  "mapStyle": {
                    "type": "string",
                    "default": "Light",
                    "description": "Style of the map."
                  },
                  "mapPointColor": {
                    "type": "string",
                    "description": "Color of map points."
                  },
                  "showAllUnits": {
                    "type": "boolean",
                    "description": "Whether to display all units."
                  },
                  "showPrices": {
                    "type": "boolean",
                    "description": "Whether to display prices."
                  },
                  "initialView": {
                    "type": "string",
                    "default": "List",
                    "description": "Initial view of the group."
                  },
                  "unitImageOnGrid": {
                    "type": "string",
                    "default": "Unit Plan",
                    "description": "Image type shown on the grid."
                  },
                  "pricesStartingAt": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to show prices starting at a certain value."
                  },
                  "showTaxes": {
                    "type": "boolean",
                    "description": "Whether to show taxes."
                  },
                  "priceBeforeTax": {
                    "type": "boolean",
                    "description": "Whether the price is shown before tax."
                  },
                  "showAvailability": {
                    "type": "boolean",
                    "description": "Whether to show availability."
                  },
                  "hideSold": {
                    "type": "boolean",
                    "description": "Whether to hide sold units."
                  },
                  "deliveryDates": {
                    "type": "boolean",
                    "description": "Whether to show delivery dates."
                  },
                  "internalURL": {
                    "type": "string",
                    "format": "uri",
                    "description": "Internal URL for the group."
                  },
                  "alternativeCovers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of alternative cover images."
                  },
                  "hideArea": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to hide the area field."
                  },
                  "theme": {
                    "type": "string",
                    "description": "Theme of the group."
                  },
                  "showBranding": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to show branding."
                  },
                  "showPriceFilter": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to show the price filter."
                  },
                  "showAreaFilter": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to show the area filter."
                  },
                  "showFloorOverview": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to show the floor overview."
                  },
                  "colorBase": {
                    "type": "string",
                    "description": "Base color."
                  },
                  "colorAccent": {
                    "type": "string",
                    "description": "Accent color."
                  },
                  "colorHover": {
                    "type": "string",
                    "description": "Hover color."
                  },
                  "colorButton": {
                    "type": "string",
                    "description": "Button color."
                  },
                  "colorButtonText": {
                    "type": "string",
                    "description": "Button text color."
                  },
                  "colorText": {
                    "type": "string",
                    "description": "General text color."
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string",
                    "format": "objectId",
                    "description": "The unique identifier for the group.",
                    "example": "objectId"
                  },
                  "user": {
                    "type": "string",
                    "format": "objectId",
                    "description": "Reference to the user who owns the group.",
                    "example": "objectId"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the group."
                  },
                  "websiteURL": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the group's website."
                  },
                  "showAvailableFirst": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to prioritize showing available items first."
                  },
                  "projects": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "objectId",
                      "description": "ID of an associated project.",
                      "example": "objectId"
                    }
                  },
                  "namespace": {
                    "type": "string",
                    "description": "Namespace for the group."
                  },
                  "hostName": {
                    "type": "string",
                    "description": "Hostname of the group."
                  },
                  "groupLang": {
                    "type": "string",
                    "default": "en",
                    "description": "Language setting for the group."
                  },
                  "linkBehavior": {
                    "type": "string",
                    "default": "Planpoint",
                    "description": "Default link behavior."
                  },
                  "accentColor": {
                    "type": "string",
                    "description": "Accent color of the group."
                  },
                  "groupImageUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the group's image."
                  },
                  "groupSVGUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the group's SVG."
                  },
                  "svgGroupId": {
                    "type": "string",
                    "description": "SVG group identifier."
                  },
                  "address": {
                    "type": "string",
                    "description": "Physical address of the group."
                  },
                  "lon": {
                    "type": "number",
                    "format": "double",
                    "description": "Longitude of the group location.",
                    "example": -93.75940812944687
                  },
                  "lat": {
                    "type": "number",
                    "format": "double",
                    "description": "Latitude of the group location.",
                    "example": 43.75940812944687
                  },
                  "zoomLevel": {
                    "type": "number",
                    "default": 0,
                    "description": "Default map zoom level."
                  },
                  "administrators": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "objectId",
                      "description": "ID of an administrator user.",
                      "example": "objectId"
                    }
                  },
                  "editors": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "objectId",
                      "description": "ID of an editor user.",
                      "example": "objectId"
                    }
                  },
                  "invites": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "level": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "List of invited users."
                  },
                  "perimeter": {
                    "type": "string",
                    "description": "Perimeter of the group area."
                  },
                  "markerImageUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the marker image."
                  },
                  "targetMarker": {
                    "type": "string",
                    "description": "Target marker identifier."
                  },
                  "mapStyle": {
                    "type": "string",
                    "default": "Light",
                    "description": "Style of the map."
                  },
                  "mapPointColor": {
                    "type": "string",
                    "description": "Color of map points."
                  },
                  "showAllUnits": {
                    "type": "boolean",
                    "description": "Whether to display all units."
                  },
                  "showPrices": {
                    "type": "boolean",
                    "description": "Whether to display prices."
                  },
                  "initialView": {
                    "type": "string",
                    "default": "List",
                    "description": "Initial view of the group."
                  },
                  "unitImageOnGrid": {
                    "type": "string",
                    "default": "Unit Plan",
                    "description": "Image type shown on the grid."
                  },
                  "pricesStartingAt": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to show prices starting at a certain value."
                  },
                  "showTaxes": {
                    "type": "boolean",
                    "description": "Whether to show taxes."
                  },
                  "priceBeforeTax": {
                    "type": "boolean",
                    "description": "Whether the price is shown before tax."
                  },
                  "showAvailability": {
                    "type": "boolean",
                    "description": "Whether to show availability."
                  },
                  "hideSold": {
                    "type": "boolean",
                    "description": "Whether to hide sold units."
                  },
                  "deliveryDates": {
                    "type": "boolean",
                    "description": "Whether to show delivery dates."
                  },
                  "internalURL": {
                    "type": "string",
                    "format": "uri",
                    "description": "Internal URL for the group."
                  },
                  "alternativeCovers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of alternative cover images."
                  },
                  "hideArea": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to hide the area field."
                  },
                  "theme": {
                    "type": "string",
                    "description": "Theme of the group."
                  },
                  "showBranding": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to show branding."
                  },
                  "showPriceFilter": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to show the price filter."
                  },
                  "showAreaFilter": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to show the area filter."
                  },
                  "showFloorOverview": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to show the floor overview."
                  },
                  "colorBase": {
                    "type": "string",
                    "description": "Base color."
                  },
                  "colorAccent": {
                    "type": "string",
                    "description": "Accent color."
                  },
                  "colorHover": {
                    "type": "string",
                    "description": "Hover color."
                  },
                  "colorButton": {
                    "type": "string",
                    "description": "Button color."
                  },
                  "colorButtonText": {
                    "type": "string",
                    "description": "Button text color."
                  },
                  "colorText": {
                    "type": "string",
                    "description": "General text color."
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string",
                    "format": "objectId",
                    "description": "The unique identifier for the group.",
                    "example": "objectId"
                  },
                  "user": {
                    "type": "string",
                    "format": "objectId",
                    "description": "Reference to the user who owns the group.",
                    "example": "objectId"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the group."
                  },
                  "websiteURL": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the group's website."
                  },
                  "showAvailableFirst": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to prioritize showing available items first."
                  },
                  "projects": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "objectId",
                      "description": "ID of an associated project.",
                      "example": "objectId"
                    }
                  },
                  "namespace": {
                    "type": "string",
                    "description": "Namespace for the group."
                  },
                  "hostName": {
                    "type": "string",
                    "description": "Hostname of the group."
                  },
                  "groupLang": {
                    "type": "string",
                    "default": "en",
                    "description": "Language setting for the group."
                  },
                  "linkBehavior": {
                    "type": "string",
                    "default": "Planpoint",
                    "description": "Default link behavior."
                  },
                  "accentColor": {
                    "type": "string",
                    "description": "Accent color of the group."
                  },
                  "groupImageUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the group's image."
                  },
                  "groupSVGUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the group's SVG."
                  },
                  "svgGroupId": {
                    "type": "string",
                    "description": "SVG group identifier."
                  },
                  "address": {
                    "type": "string",
                    "description": "Physical address of the group."
                  },
                  "lon": {
                    "type": "number",
                    "format": "double",
                    "description": "Longitude of the group location.",
                    "example": -93.75940812944687
                  },
                  "lat": {
                    "type": "number",
                    "format": "double",
                    "description": "Latitude of the group location.",
                    "example": 43.75940812944687
                  },
                  "zoomLevel": {
                    "type": "number",
                    "default": 0,
                    "description": "Default map zoom level."
                  },
                  "administrators": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "objectId",
                      "description": "ID of an administrator user.",
                      "example": "objectId"
                    }
                  },
                  "editors": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "objectId",
                      "description": "ID of an editor user.",
                      "example": "objectId"
                    }
                  },
                  "invites": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "level": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "List of invited users."
                  },
                  "perimeter": {
                    "type": "string",
                    "description": "Perimeter of the group area."
                  },
                  "markerImageUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the marker image."
                  },
                  "targetMarker": {
                    "type": "string",
                    "description": "Target marker identifier."
                  },
                  "mapStyle": {
                    "type": "string",
                    "default": "Light",
                    "description": "Style of the map."
                  },
                  "mapPointColor": {
                    "type": "string",
                    "description": "Color of map points."
                  },
                  "showAllUnits": {
                    "type": "boolean",
                    "description": "Whether to display all units."
                  },
                  "showPrices": {
                    "type": "boolean",
                    "description": "Whether to display prices."
                  },
                  "initialView": {
                    "type": "string",
                    "default": "List",
                    "description": "Initial view of the group."
                  },
                  "unitImageOnGrid": {
                    "type": "string",
                    "default": "Unit Plan",
                    "description": "Image type shown on the grid."
                  },
                  "pricesStartingAt": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to show prices starting at a certain value."
                  },
                  "showTaxes": {
                    "type": "boolean",
                    "description": "Whether to show taxes."
                  },
                  "priceBeforeTax": {
                    "type": "boolean",
                    "description": "Whether the price is shown before tax."
                  },
                  "showAvailability": {
                    "type": "boolean",
                    "description": "Whether to show availability."
                  },
                  "hideSold": {
                    "type": "boolean",
                    "description": "Whether to hide sold units."
                  },
                  "deliveryDates": {
                    "type": "boolean",
                    "description": "Whether to show delivery dates."
                  },
                  "internalURL": {
                    "type": "string",
                    "format": "uri",
                    "description": "Internal URL for the group."
                  },
                  "alternativeCovers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of alternative cover images."
                  },
                  "hideArea": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to hide the area field."
                  },
                  "theme": {
                    "type": "string",
                    "description": "Theme of the group."
                  },
                  "showBranding": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to show branding."
                  },
                  "showPriceFilter": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to show the price filter."
                  },
                  "showAreaFilter": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to show the area filter."
                  },
                  "showFloorOverview": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to show the floor overview."
                  },
                  "colorBase": {
                    "type": "string",
                    "description": "Base color."
                  },
                  "colorAccent": {
                    "type": "string",
                    "description": "Accent color."
                  },
                  "colorHover": {
                    "type": "string",
                    "description": "Hover color."
                  },
                  "colorButton": {
                    "type": "string",
                    "description": "Button color."
                  },
                  "colorButtonText": {
                    "type": "string",
                    "description": "Button text color."
                  },
                  "colorText": {
                    "type": "string",
                    "description": "General text color."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "format": "objectId",
                      "description": "The unique identifier for the group.",
                      "example": "objectId"
                    },
                    "user": {
                      "type": "string",
                      "format": "objectId",
                      "description": "Reference to the user who owns the group.",
                      "example": "objectId"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the group."
                    },
                    "websiteURL": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's website."
                    },
                    "showAvailableFirst": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether to prioritize showing available items first."
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "objectId",
                        "description": "ID of an associated project.",
                        "example": "objectId"
                      }
                    },
                    "namespace": {
                      "type": "string",
                      "description": "Namespace for the group."
                    },
                    "hostName": {
                      "type": "string",
                      "description": "Hostname of the group."
                    },
                    "groupLang": {
                      "type": "string",
                      "default": "en",
                      "description": "Language setting for the group."
                    },
                    "linkBehavior": {
                      "type": "string",
                      "default": "Planpoint",
                      "description": "Default link behavior."
                    },
                    "accentColor": {
                      "type": "string",
                      "description": "Accent color of the group."
                    },
                    "groupImageUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's image."
                    },
                    "groupSVGUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the group's SVG."
                    },
                    "svgGroupId": {
                      "type": "string",
                      "description": "SVG group identifier."
                    },
                    "address": {
                      "type": "string",
                      "description": "Physical address of the group."
                    },
                    "lon": {
                      "type": "number",
                      "format": "double",
                      "description": "Longitude of the group location.",
                      "example": -93.75940812944687
                    },
                    "lat": {
                      "type": "number",
                      "format": "double",
                      "description": "Latitude of the group location.",
                      "example": 43.75940812944687
                    },
                    "zoomLevel": {
                      "type": "number",
[...]
